#hj{
  font-family: 'Eczar', serif;
  color: white;
  margin-top: 50px;
}

#la{
  font-family: 'Montaga', serif;
  color: white;
}

#kl{
  font-family: 'Montaga', serif;
  color: white;
}

.jk{
  text-align: center;
  color: white;
}

.d-grid {
  margin-left: 70px;
  margin-right: 70px;
  color: white;
}

.aa{
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
}

.ii{
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.haha{
  background-color: #212529;
}

.jj{
  background-color: #00ADB5;
}
.la{
  background-color: #212529;

}


.yy{
  border-radius: 100%;
  width: 300px;
}

.progress-bar{
  background-color: #00ADB5;
}

hr{
  border: dotted rgb(255, 255, 255) 6px;
  border-bottom: none;
  width: 4%;
  margin: 20px auto;
  
  
  
}

.ll{
  margin-bottom: 50px;
}


.lead{
  margin-bottom: 70px;
}







